html, body{
    padding: unset;
    margin: unset;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 70px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 99;
    box-sizing: border-box;
}
header > div { display: flex; justify-content: center; align-items: center;}
header > h2 { white-space: nowrap; overflow: elipsis;}
img { width: 36px; height: 36px; padding: 5px; margin-right: 10px; border-radius: 3px;}

.main { 
    padding: 10px;
    position: static;
    background-color: transparent;
    margin-top: 70px;
}

.sidebar {
    width: 300px;
    height: 100vh;
    background-color: white;
    border-left: 1px solid #ccc;

    position: fixed;
    top: 0%;
    right: 0%;
    display: none;
    padding-top: 70px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.sidebar > div {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.sidebar > div > div {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    box-sizing: border-box;
}
.sidebar > div > div:hover { background-color: rgba(219, 219, 219, 0.50); }
.sidebar > div > div:active { background-color:rgba(219, 219, 219, 0.75); }

button {
    width: 250px;
    height: 40px;
    box-sizing: border-box;
}

.quiz-panel{
    width: 100%;
    height: 100vh;
    margin-bottom: 20px;
    padding: 0px 15px 15px;
    position: absolute;
    top: 0%; right: 0%;
    background-color: white;
    z-index: 1000;
    display: none;
    box-sizing: border-box;
    overflow-y: auto;
}

.quiz-panel .quiz-item{
    display: auto;
}

.quiz-panel .quiz-result{
    width: 100%;
    min-height: 70px;
    padding: 10px;
    background-color: rgba(152, 219, 255, 0.2);
    background-color: rgba(255, 152, 152, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.quiz-panel > .quiz-panel-header {
    position: sticky;
    top: 0%; right: 0%;
    background-color: white;
}

.quiz-panel .answer {
    width: max-content;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: rgba(0, 255, 0, 0.3);
    background-color: rgba(255, 27, 27, 0.3);
    display: block;
    display: none;
}

.quiz-panel .btn-panel{
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 0px 20px 10px;
    box-sizing: border-box;
}

.quiz-panel input[type=text]{
    width: 30%;
    min-width: 200px;
    padding: 5px;
    font-size: 18px;
    outline: unset;
    border: unset;
    border-bottom: 2px solid darkgray;
    color: white;
    background-color: transparent;
    box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
    button { width: 100%; }
    .quiz-panel .btn-panel{ justify-content: center; }
    .sidebar { display: none;}
}